ProjectTm/Web References/EppmWs.WBSService/WBSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/WBS/V2" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" name="WBSService" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/WBS/V2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/WBS/V2">
      <xsd:import schemaLocation="http://tks.ms:18206/p6ws/services/WBSService?xsd=IntegrationFault.xsd" namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" />
      <xsd:complexType name="CreateWBS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="WBS" type="tns:WBS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CreateWBSResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ObjectId" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CreateWBS" type="tns:CreateWBS" />
      <xsd:element name="CreateWBSResponse" type="tns:CreateWBSResponse" />
      <xsd:complexType name="ReadWBS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Field" type="tns:WBSFieldType" />
          <xsd:element minOccurs="0" name="Filter" type="xsd:string" />
          <xsd:element minOccurs="0" name="OrderBy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReadWBSResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WBS" type="tns:WBS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadWBS" type="tns:ReadWBS" />
      <xsd:element name="ReadWBSResponse" type="tns:ReadWBSResponse" />
      <xsd:simpleType name="WBSFieldType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AnticipatedFinishDate" />
          <xsd:enumeration value="AnticipatedStartDate" />
          <xsd:enumeration value="Code" />
          <xsd:enumeration value="ContainsSummaryData" />
          <xsd:enumeration value="CreateDate" />
          <xsd:enumeration value="CreateUser" />
          <xsd:enumeration value="CurrentBudget" />
          <xsd:enumeration value="CurrentVariance" />
          <xsd:enumeration value="DistributedCurrentBudget" />
          <xsd:enumeration value="EarnedValueComputeType" />
          <xsd:enumeration value="EarnedValueETCComputeType" />
          <xsd:enumeration value="EarnedValueETCUserValue" />
          <xsd:enumeration value="EarnedValueUserPercent" />
          <xsd:enumeration value="FinishDate" />
          <xsd:enumeration value="ForecastFinishDate" />
          <xsd:enumeration value="ForecastStartDate" />
          <xsd:enumeration value="GUID" />
          <xsd:enumeration value="IndependentETCLaborUnits" />
          <xsd:enumeration value="IndependentETCTotalCost" />
          <xsd:enumeration value="IntegratedType" />
          <xsd:enumeration value="IntegratedWBS" />
          <xsd:enumeration value="IsBaseline" />
          <xsd:enumeration value="IsTemplate" />
          <xsd:enumeration value="IsWorkPackage" />
          <xsd:enumeration value="LastUpdateDate" />
          <xsd:enumeration value="LastUpdateUser" />
          <xsd:enumeration value="Name" />
          <xsd:enumeration value="OBSName" />
          <xsd:enumeration value="OBSObjectId" />
          <xsd:enumeration value="ObjectId" />
          <xsd:enumeration value="OriginalBudget" />
          <xsd:enumeration value="ParentObjectId" />
          <xsd:enumeration value="ProjectId" />
          <xsd:enumeration value="ProjectObjectId" />
          <xsd:enumeration value="ProposedBudget" />
          <xsd:enumeration value="SequenceNumber" />
          <xsd:enumeration value="StartDate" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="StatusReviewerName" />
          <xsd:enumeration value="StatusReviewerObjectId" />
          <xsd:enumeration value="SummaryAccountingVarianceByCost" />
          <xsd:enumeration value="SummaryAccountingVarianceByLaborUnits" />
          <xsd:enumeration value="SummaryActivityCount" />
          <xsd:enumeration value="SummaryActualDuration" />
          <xsd:enumeration value="SummaryActualExpenseCost" />
          <xsd:enumeration value="SummaryActualFinishDate" />
          <xsd:enumeration value="SummaryActualLaborCost" />
          <xsd:enumeration value="SummaryActualLaborUnits" />
          <xsd:enumeration value="SummaryActualMaterialCost" />
          <xsd:enumeration value="SummaryActualNonLaborCost" />
          <xsd:enumeration value="SummaryActualNonLaborUnits" />
          <xsd:enumeration value="SummaryActualStartDate" />
          <xsd:enumeration value="SummaryActualThisPeriodCost" />
          <xsd:enumeration value="SummaryActualThisPeriodLaborCost" />
          <xsd:enumeration value="SummaryActualThisPeriodLaborUnits" />
          <xsd:enumeration value="SummaryActualThisPeriodMaterialCost" />
          <xsd:enumeration value="SummaryActualThisPeriodNonLaborCost" />
          <xsd:enumeration value="SummaryActualThisPeriodNonLaborUnits" />
          <xsd:enumeration value="SummaryActualTotalCost" />
          <xsd:enumeration value="SummaryActualValueByCost" />
          <xsd:enumeration value="SummaryActualValueByLaborUnits" />
          <xsd:enumeration value="SummaryAtCompletionDuration" />
          <xsd:enumeration value="SummaryAtCompletionExpenseCost" />
          <xsd:enumeration value="SummaryAtCompletionLaborCost" />
          <xsd:enumeration value="SummaryAtCompletionLaborUnits" />
          <xsd:enumeration value="SummaryAtCompletionMaterialCost" />
          <xsd:enumeration value="SummaryAtCompletionNonLaborCost" />
          <xsd:enumeration value="SummaryAtCompletionNonLaborUnits" />
          <xsd:enumeration value="SummaryAtCompletionTotalCost" />
          <xsd:enumeration value="SummaryAtCompletionTotalCostVariance" />
          <xsd:enumeration value="SummaryBaselineCompletedActivityCount" />
          <xsd:enumeration value="SummaryBaselineDuration" />
          <xsd:enumeration value="SummaryBaselineExpenseCost" />
          <xsd:enumeration value="SummaryBaselineFinishDate" />
          <xsd:enumeration value="SummaryBaselineInProgressActivityCount" />
          <xsd:enumeration value="SummaryBaselineLaborCost" />
          <xsd:enumeration value="SummaryBaselineLaborUnits" />
          <xsd:enumeration value="SummaryBaselineMaterialCost" />
          <xsd:enumeration value="SummaryBaselineNonLaborCost" />
          <xsd:enumeration value="SummaryBaselineNonLaborUnits" />
          <xsd:enumeration value="SummaryBaselineNotStartedActivityCount" />
          <xsd:enumeration value="SummaryBaselineStartDate" />
          <xsd:enumeration value="SummaryBaselineTotalCost" />
          <xsd:enumeration value="SummaryBudgetAtCompletionByCost" />
          <xsd:enumeration value="SummaryBudgetAtCompletionByLaborUnits" />
          <xsd:enumeration value="SummaryCompletedActivityCount" />
          <xsd:enumeration value="SummaryCostPercentComplete" />
          <xsd:enumeration value="SummaryCostPercentOfPlanned" />
          <xsd:enumeration value="SummaryCostPerformanceIndexByCost" />
          <xsd:enumeration value="SummaryCostPerformanceIndexByLaborUnits" />
          <xsd:enumeration value="SummaryCostVarianceByCost" />
          <xsd:enumeration value="SummaryCostVarianceByLaborUnits" />
          <xsd:enumeration value="SummaryCostVarianceIndex" />
          <xsd:enumeration value="SummaryCostVarianceIndexByCost" />
          <xsd:enumeration value="SummaryCostVarianceIndexByLaborUnits" />
          <xsd:enumeration value="SummaryDurationPercentComplete" />
          <xsd:enumeration value="SummaryDurationPercentOfPlanned" />
          <xsd:enumeration value="SummaryDurationVariance" />
          <xsd:enumeration value="SummaryEarnedValueByCost" />
          <xsd:enumeration value="SummaryEarnedValueByLaborUnits" />
          <xsd:enumeration value="SummaryEstimateAtCompletionByCost" />
          <xsd:enumeration value="SummaryEstimateAtCompletionByLaborUnits" />
          <xsd:enumeration value="SummaryEstimateAtCompletionHighPercentByLaborUnits" />
          <xsd:enumeration value="SummaryEstimateAtCompletionLowPercentByLaborUnits" />
          <xsd:enumeration value="SummaryEstimateToCompleteByCost" />
          <xsd:enumeration value="SummaryEstimateToCompleteByLaborUnits" />
          <xsd:enumeration value="SummaryExpenseCostPercentComplete" />
          <xsd:enumeration value="SummaryExpenseCostVariance" />
          <xsd:enumeration value="SummaryFinishDateVariance" />
          <xsd:enumeration value="SummaryInProgressActivityCount" />
          <xsd:enumeration value="SummaryLaborCostPercentComplete" />
          <xsd:enumeration value="SummaryLaborCostVariance" />
          <xsd:enumeration value="SummaryLaborUnitsPercentComplete" />
          <xsd:enumeration value="SummaryLaborUnitsVariance" />
          <xsd:enumeration value="SummaryMaterialCostPercentComplete" />
          <xsd:enumeration value="SummaryMaterialCostVariance" />
          <xsd:enumeration value="SummaryNonLaborCostPercentComplete" />
          <xsd:enumeration value="SummaryNonLaborCostVariance" />
          <xsd:enumeration value="SummaryNonLaborUnitsPercentComplete" />
          <xsd:enumeration value="SummaryNonLaborUnitsVariance" />
          <xsd:enumeration value="SummaryNotStartedActivityCount" />
          <xsd:enumeration value="SummaryPerformancePercentCompleteByCost" />
          <xsd:enumeration value="SummaryPerformancePercentCompleteByLaborUnits" />
          <xsd:enumeration value="SummaryPlannedCost" />
          <xsd:enumeration value="SummaryPlannedDuration" />
          <xsd:enumeration value="SummaryPlannedExpenseCost" />
          <xsd:enumeration value="SummaryPlannedFinishDate" />
          <xsd:enumeration value="SummaryPlannedLaborCost" />
          <xsd:enumeration value="SummaryPlannedLaborUnits" />
          <xsd:enumeration value="SummaryPlannedMaterialCost" />
          <xsd:enumeration value="SummaryPlannedNonLaborCost" />
          <xsd:enumeration value="SummaryPlannedNonLaborUnits" />
          <xsd:enumeration value="SummaryPlannedStartDate" />
          <xsd:enumeration value="SummaryPlannedValueByCost" />
          <xsd:enumeration value="SummaryPlannedValueByLaborUnits" />
          <xsd:enumeration value="SummaryProgressFinishDate" />
          <xsd:enumeration value="SummaryRemainingDuration" />
          <xsd:enumeration value="SummaryRemainingExpenseCost" />
          <xsd:enumeration value="SummaryRemainingFinishDate" />
          <xsd:enumeration value="SummaryRemainingLaborCost" />
          <xsd:enumeration value="SummaryRemainingLaborUnits" />
          <xsd:enumeration value="SummaryRemainingMaterialCost" />
          <xsd:enumeration value="SummaryRemainingNonLaborCost" />
          <xsd:enumeration value="SummaryRemainingNonLaborUnits" />
          <xsd:enumeration value="SummaryRemainingStartDate" />
          <xsd:enumeration value="SummaryRemainingTotalCost" />
          <xsd:enumeration value="SummarySchedulePercentComplete" />
          <xsd:enumeration value="SummarySchedulePercentCompleteByLaborUnits" />
          <xsd:enumeration value="SummarySchedulePerformanceIndexByCost" />
          <xsd:enumeration value="SummarySchedulePerformanceIndexByLaborUnits" />
          <xsd:enumeration value="SummaryScheduleVarianceByCost" />
          <xsd:enumeration value="SummaryScheduleVarianceByLaborUnits" />
          <xsd:enumeration value="SummaryScheduleVarianceIndex" />
          <xsd:enumeration value="SummaryScheduleVarianceIndexByCost" />
          <xsd:enumeration value="SummaryScheduleVarianceIndexByLaborUnits" />
          <xsd:enumeration value="SummaryStartDateVariance" />
          <xsd:enumeration value="SummaryToCompletePerformanceIndexByCost" />
          <xsd:enumeration value="SummaryTotalCostVariance" />
          <xsd:enumeration value="SummaryTotalFloat" />
          <xsd:enumeration value="SummaryUnitsPercentComplete" />
          <xsd:enumeration value="SummaryVarianceAtCompletionByLaborUnits" />
          <xsd:enumeration value="TotalBenefitPlan" />
          <xsd:enumeration value="TotalBenefitPlanTally" />
          <xsd:enumeration value="TotalSpendingPlan" />
          <xsd:enumeration value="TotalSpendingPlanTally" />
          <xsd:enumeration value="UnallocatedBudget" />
          <xsd:enumeration value="UndistributedCurrentVariance" />
          <xsd:enumeration value="WBSCategoryObjectId" />
          <xsd:enumeration value="WBSMilestonePercentComplete" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="UpdateWBS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="WBS" type="tns:WBS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UpdateWBSResponse">
        <xsd:sequence>
          <xsd:element name="Return" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UpdateWBS" type="tns:UpdateWBS" />
      <xsd:element name="UpdateWBSResponse" type="tns:UpdateWBSResponse" />
      <xsd:complexType name="DeleteWBS">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ObjectId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DeleteWithReplacement">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="ObjectId" type="xsd:int" />
                <xsd:element name="ReplacementObjectId" type="xsd:int" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeleteWBSResponse">
        <xsd:sequence>
          <xsd:element name="Return" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DeleteWBS" type="tns:DeleteWBS" />
      <xsd:element name="DeleteWBSResponse" type="tns:DeleteWBSResponse" />
      <xsd:complexType name="ReadWBSPath">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="ObjectId" type="xsd:int" />
          <xsd:element maxOccurs="unbounded" name="Field" type="tns:WBSFieldType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReadWBSPathResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WBS" type="tns:WBS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadWBSPath" type="tns:ReadWBSPath" />
      <xsd:element name="ReadWBSPathResponse" type="tns:ReadWBSPathResponse" />
      <xsd:complexType name="ReadActivityWBSPath">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="ActivityObjectId" type="xsd:int" />
          <xsd:element maxOccurs="unbounded" name="Field" type="tns:WBSFieldType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReadActivityWBSPathResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WBS" type="tns:WBS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadActivityWBSPath" type="tns:ReadActivityWBSPath" />
      <xsd:element name="ReadActivityWBSPathResponse" type="tns:ReadActivityWBSPathResponse" />
      <xsd:complexType name="ReadAllWBS">
        <xsd:sequence>
          <xsd:element name="ObjectId" type="xsd:int" />
          <xsd:element maxOccurs="unbounded" name="Field" type="tns:WBSFieldType" />
          <xsd:element minOccurs="0" name="Filter" type="xsd:string" />
          <xsd:element minOccurs="0" name="OrderBy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReadAllWBSResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WBS" type="tns:WBS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadAllWBS" type="tns:ReadAllWBS" />
      <xsd:element name="ReadAllWBSResponse" type="tns:ReadAllWBSResponse" />
      <xsd:complexType name="CopyWBSFromTemplate">
        <xsd:sequence>
          <xsd:element name="ObjectId" type="xsd:int" />
          <xsd:element name="TemplateWbsObjectId" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CopyWBSFromTemplateResponse">
        <xsd:sequence>
          <xsd:element name="ObjectId" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CopyWBSFromTemplate" type="tns:CopyWBSFromTemplate" />
      <xsd:element name="CopyWBSFromTemplateResponse" type="tns:CopyWBSFromTemplateResponse" />
      <xsd:complexType name="WBS">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="AnticipatedFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="AnticipatedStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Code">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ContainsSummaryData" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="CreateDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="CreateUser">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CurrentBudget" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="CurrentVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="DistributedCurrentBudget" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="EarnedValueComputeType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="" />
                <xsd:enumeration value="Activity Percent Complete" />
                <xsd:enumeration value="0 / 100" />
                <xsd:enumeration value="50 / 50" />
                <xsd:enumeration value="Custom Percent Complete" />
                <xsd:enumeration value="WBS Milestones Percent Complete" />
                <xsd:enumeration value="Activity Percent Complete Using Resource Curves" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EarnedValueETCComputeType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="" />
                <xsd:enumeration value="ETC = Remaining Cost for Activity" />
                <xsd:enumeration value="PF = 1" />
                <xsd:enumeration value="PF = Custom Value" />
                <xsd:enumeration value="PF = 1 / CPI" />
                <xsd:enumeration value="PF = 1 / (CPI * SPI)" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EarnedValueETCUserValue" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:double">
                <xsd:minInclusive value="0.0" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EarnedValueUserPercent" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="FinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="ForecastFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="ForecastStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="GUID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}|" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IndependentETCLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="IndependentETCTotalCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="IntegratedType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="" />
                <xsd:enumeration value="ERP" />
                <xsd:enumeration value="Fusion" />
                <xsd:enumeration value="Gateway" />
                <xsd:enumeration value="PrimeScope" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IntegratedWBS" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="IsBaseline" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="IsTemplate" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="IsWorkPackage" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="LastUpdateDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="LastUpdateUser">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBSName">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBSObjectId" type="xsd:int" />
          <xsd:element minOccurs="0" name="ObjectId" type="xsd:int" />
          <xsd:element minOccurs="0" name="OriginalBudget" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="ParentObjectId" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="ProjectId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ProjectObjectId" type="xsd:int" />
          <xsd:element minOccurs="0" name="ProposedBudget" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SequenceNumber" type="xsd:int" />
          <xsd:element minOccurs="0" name="StartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Status">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Planned" />
                <xsd:enumeration value="Active" />
                <xsd:enumeration value="Inactive" />
                <xsd:enumeration value="What-If" />
                <xsd:enumeration value="Requested" />
                <xsd:enumeration value="Template" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="StatusReviewerName" type="xsd:string" />
          <xsd:element minOccurs="0" name="StatusReviewerObjectId" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryAccountingVarianceByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAccountingVarianceByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryActualDuration" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualExpenseCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryActualLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualTotalCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualValueByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualValueByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionDuration" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionExpenseCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionTotalCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionTotalCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineCompletedActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryBaselineDuration" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineExpenseCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryBaselineInProgressActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryBaselineLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineNotStartedActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryBaselineStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryBaselineTotalCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBudgetAtCompletionByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBudgetAtCompletionByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCompletedActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryCostPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostPercentOfPlanned" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostPerformanceIndexByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostPerformanceIndexByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostVarianceByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostVarianceByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostVarianceIndex" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostVarianceIndexByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostVarianceIndexByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryDurationPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryDurationPercentOfPlanned" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryDurationVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEarnedValueByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEarnedValueByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateAtCompletionByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateAtCompletionByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateAtCompletionHighPercentByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateAtCompletionLowPercentByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateToCompleteByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateToCompleteByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryExpenseCostPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryExpenseCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryFinishDateVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryInProgressActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryLaborCostPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryLaborCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryLaborUnitsPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryLaborUnitsVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryMaterialCostPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryMaterialCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryNonLaborCostPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryNonLaborCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryNonLaborUnitsPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryNonLaborUnitsVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryNotStartedActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryPerformancePercentCompleteByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPerformancePercentCompleteByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedDuration" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedExpenseCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryPlannedLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryPlannedValueByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedValueByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryProgressFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryRemainingDuration" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingExpenseCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryRemainingLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryRemainingTotalCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummarySchedulePercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummarySchedulePercentCompleteByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummarySchedulePerformanceIndexByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummarySchedulePerformanceIndexByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryScheduleVarianceByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryScheduleVarianceByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryScheduleVarianceIndex" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryScheduleVarianceIndexByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryScheduleVarianceIndexByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryStartDateVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryToCompletePerformanceIndexByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryTotalCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryTotalFloat" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryUnitsPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryVarianceAtCompletionByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="TotalBenefitPlan" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="TotalBenefitPlanTally" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="TotalSpendingPlan" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="TotalSpendingPlanTally" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="UnallocatedBudget" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="UndistributedCurrentVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="WBSCategoryObjectId" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="WBSMilestonePercentComplete" nillable="true" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateWBS">
    <wsdl:part name="params" element="tns:CreateWBS" />
  </wsdl:message>
  <wsdl:message name="ReadActivityWBSPath">
    <wsdl:part name="params" element="tns:ReadActivityWBSPath" />
  </wsdl:message>
  <wsdl:message name="UpdateWBSResponse">
    <wsdl:part name="result" element="tns:UpdateWBSResponse" />
  </wsdl:message>
  <wsdl:message name="ReadAllWBSResponse">
    <wsdl:part name="result" element="tns:ReadAllWBSResponse" />
  </wsdl:message>
  <wsdl:message name="ReadActivityWBSPathResponse">
    <wsdl:part name="result" element="tns:ReadActivityWBSPathResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWBS">
    <wsdl:part name="params" element="tns:UpdateWBS" />
  </wsdl:message>
  <wsdl:message name="ReadWBSPathResponse">
    <wsdl:part name="result" element="tns:ReadWBSPathResponse" />
  </wsdl:message>
  <wsdl:message name="CopyWBSFromTemplate">
    <wsdl:part name="params" element="tns:CopyWBSFromTemplate" />
  </wsdl:message>
  <wsdl:message name="DeleteWBSResponse">
    <wsdl:part name="result" element="tns:DeleteWBSResponse" />
  </wsdl:message>
  <wsdl:message name="ReadWBSPath">
    <wsdl:part name="params" element="tns:ReadWBSPath" />
  </wsdl:message>
  <wsdl:message name="ReadAllWBS">
    <wsdl:part name="params" element="tns:ReadAllWBS" />
  </wsdl:message>
  <wsdl:message name="CopyWBSFromTemplateResponse">
    <wsdl:part name="result" element="tns:CopyWBSFromTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IntegrationFault">
    <wsdl:part name="fault" element="intgfault:IntegrationFault" />
  </wsdl:message>
  <wsdl:message name="CreateWBSResponse">
    <wsdl:part name="result" element="tns:CreateWBSResponse" />
  </wsdl:message>
  <wsdl:message name="ReadWBSResponse">
    <wsdl:part name="result" element="tns:ReadWBSResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWBS">
    <wsdl:part name="params" element="tns:DeleteWBS" />
  </wsdl:message>
  <wsdl:message name="ReadWBS">
    <wsdl:part name="params" element="tns:ReadWBS" />
  </wsdl:message>
  <wsdl:portType name="WBSPortType">
    <wsdl:operation name="CreateWBS">
      <wsdl:input name="CreateWBSRequest" message="tns:CreateWBS" />
      <wsdl:output name="CreateWBSResponse" message="tns:CreateWBSResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="ReadWBS">
      <wsdl:input name="ReadWBSRequest" message="tns:ReadWBS" />
      <wsdl:output name="ReadWBSResponse" message="tns:ReadWBSResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWBS">
      <wsdl:input name="UpdateWBSRequest" message="tns:UpdateWBS" />
      <wsdl:output name="UpdateWBSResponse" message="tns:UpdateWBSResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWBS">
      <wsdl:input name="DeleteWBSRequest" message="tns:DeleteWBS" />
      <wsdl:output name="DeleteWBSResponse" message="tns:DeleteWBSResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="ReadActivityWBSPath">
      <wsdl:input name="ReadActivityWBSPathRequest" message="tns:ReadActivityWBSPath" />
      <wsdl:output name="ReadActivityWBSPathResponse" message="tns:ReadActivityWBSPathResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="ReadWBSPath">
      <wsdl:input name="ReadWBSPathRequest" message="tns:ReadWBSPath" />
      <wsdl:output name="ReadWBSPathResponse" message="tns:ReadWBSPathResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllWBS">
      <wsdl:input name="ReadAllWBSRequest" message="tns:ReadAllWBS" />
      <wsdl:output name="ReadAllWBSResponse" message="tns:ReadAllWBSResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="CopyWBSFromTemplate">
      <wsdl:input name="CopyWBSFromTemplateRequest" message="tns:CopyWBSFromTemplate" />
      <wsdl:output name="CopyWBSFromTemplateResponse" message="tns:CopyWBSFromTemplateResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WBSPortBinding" type="tns:WBSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateWBS">
      <soap:operation soapAction="CreateWBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadWBS">
      <soap:operation soapAction="ReadWBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateWBS">
      <soap:operation soapAction="UpdateWBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteWBS">
      <soap:operation soapAction="DeleteWBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadActivityWBSPath">
      <soap:operation soapAction="ReadActivityWBSPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadWBSPath">
      <soap:operation soapAction="ReadWBSPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadAllWBS">
      <soap:operation soapAction="ReadAllWBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CopyWBSFromTemplate">
      <soap:operation soapAction="CopyWBSFromTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WBSService">
    <wsdl:port name="WBSPort" binding="tns:WBSPortBinding">
      <soap:address location="http://tks.ms:18206/p6ws/services/WBSService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>