ProjectTm/Web References/EppmWs.DepService/RelationshipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/Relationship/V1" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" name="RelationshipService" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/Relationship/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/Relationship/V1">
      <xsd:import schemaLocation="http://tks.ms:18206/p6ws/services/RelationshipService?xsd=IntegrationFault.xsd" namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" />
      <xsd:complexType name="CreateRelationships">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Relationship" type="tns:Relationship" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CreateRelationshipsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ObjectId" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CreateRelationships" type="tns:CreateRelationships" />
      <xsd:element name="CreateRelationshipsResponse" type="tns:CreateRelationshipsResponse" />
      <xsd:complexType name="ReadRelationships">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Field" type="tns:RelationshipFieldType" />
          <xsd:element minOccurs="0" name="Filter" type="xsd:string" />
          <xsd:element minOccurs="0" name="OrderBy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReadRelationshipsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Relationship" type="tns:Relationship" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadRelationships" type="tns:ReadRelationships" />
      <xsd:element name="ReadRelationshipsResponse" type="tns:ReadRelationshipsResponse" />
      <xsd:simpleType name="RelationshipFieldType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Aref" />
          <xsd:enumeration value="Arls" />
          <xsd:enumeration value="CreateDate" />
          <xsd:enumeration value="CreateUser" />
          <xsd:enumeration value="IsPredecessorBaseline" />
          <xsd:enumeration value="IsPredecessorTemplate" />
          <xsd:enumeration value="IsSuccessorBaseline" />
          <xsd:enumeration value="IsSuccessorTemplate" />
          <xsd:enumeration value="Lag" />
          <xsd:enumeration value="LastUpdateDate" />
          <xsd:enumeration value="LastUpdateUser" />
          <xsd:enumeration value="ObjectId" />
          <xsd:enumeration value="PredecessorActivityId" />
          <xsd:enumeration value="PredecessorActivityName" />
          <xsd:enumeration value="PredecessorActivityObjectId" />
          <xsd:enumeration value="PredecessorActivityType" />
          <xsd:enumeration value="PredecessorFinishDate" />
          <xsd:enumeration value="PredecessorProjectId" />
          <xsd:enumeration value="PredecessorProjectObjectId" />
          <xsd:enumeration value="PredecessorStartDate" />
          <xsd:enumeration value="PredecessorWbsName" />
          <xsd:enumeration value="SuccessorActivityId" />
          <xsd:enumeration value="SuccessorActivityName" />
          <xsd:enumeration value="SuccessorActivityObjectId" />
          <xsd:enumeration value="SuccessorActivityType" />
          <xsd:enumeration value="SuccessorFinishDate" />
          <xsd:enumeration value="SuccessorProjectId" />
          <xsd:enumeration value="SuccessorProjectObjectId" />
          <xsd:enumeration value="SuccessorStartDate" />
          <xsd:enumeration value="SuccessorWbsName" />
          <xsd:enumeration value="Type" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="UpdateRelationships">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Relationship" type="tns:Relationship" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UpdateRelationshipsResponse">
        <xsd:sequence>
          <xsd:element name="Return" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UpdateRelationships" type="tns:UpdateRelationships" />
      <xsd:element name="UpdateRelationshipsResponse" type="tns:UpdateRelationshipsResponse" />
      <xsd:complexType name="DeleteRelationships">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ObjectId" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeleteRelationshipsResponse">
        <xsd:sequence>
          <xsd:element name="Return" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DeleteRelationships" type="tns:DeleteRelationships" />
      <xsd:element name="DeleteRelationshipsResponse" type="tns:DeleteRelationshipsResponse" />
      <xsd:complexType name="Relationship">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Aref" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Arls" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="CreateDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="CreateUser">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IsPredecessorBaseline" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="IsPredecessorTemplate" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="IsSuccessorBaseline" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="IsSuccessorTemplate" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="Lag" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="LastUpdateDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="LastUpdateUser">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ObjectId" type="xsd:int" />
          <xsd:element minOccurs="0" name="PredecessorActivityId" type="xsd:string" />
          <xsd:element minOccurs="0" name="PredecessorActivityName" type="xsd:string" />
          <xsd:element minOccurs="0" name="PredecessorActivityObjectId" type="xsd:int" />
          <xsd:element minOccurs="0" name="PredecessorActivityType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Task Dependent" />
                <xsd:enumeration value="Resource Dependent" />
                <xsd:enumeration value="Level of Effort" />
                <xsd:enumeration value="Start Milestone" />
                <xsd:enumeration value="Finish Milestone" />
                <xsd:enumeration value="WBS Summary" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PredecessorFinishDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="PredecessorProjectId" type="xsd:string" />
          <xsd:element minOccurs="0" name="PredecessorProjectObjectId" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="PredecessorStartDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="PredecessorWbsName">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SuccessorActivityId" type="xsd:string" />
          <xsd:element minOccurs="0" name="SuccessorActivityName" type="xsd:string" />
          <xsd:element minOccurs="0" name="SuccessorActivityObjectId" type="xsd:int" />
          <xsd:element minOccurs="0" name="SuccessorActivityType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Task Dependent" />
                <xsd:enumeration value="Resource Dependent" />
                <xsd:enumeration value="Level of Effort" />
                <xsd:enumeration value="Start Milestone" />
                <xsd:enumeration value="Finish Milestone" />
                <xsd:enumeration value="WBS Summary" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SuccessorFinishDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SuccessorProjectId" type="xsd:string" />
          <xsd:element minOccurs="0" name="SuccessorProjectObjectId" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SuccessorStartDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SuccessorWbsName">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Finish to Start" />
                <xsd:enumeration value="Finish to Finish" />
                <xsd:enumeration value="Start to Start" />
                <xsd:enumeration value="Start to Finish" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DeleteRelationships">
    <wsdl:part name="params" element="tns:DeleteRelationships" />
  </wsdl:message>
  <wsdl:message name="IntegrationFault">
    <wsdl:part name="fault" element="intgfault:IntegrationFault" />
  </wsdl:message>
  <wsdl:message name="ReadRelationshipsResponse">
    <wsdl:part name="result" element="tns:ReadRelationshipsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRelationships">
    <wsdl:part name="params" element="tns:UpdateRelationships" />
  </wsdl:message>
  <wsdl:message name="UpdateRelationshipsResponse">
    <wsdl:part name="result" element="tns:UpdateRelationshipsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateRelationships">
    <wsdl:part name="params" element="tns:CreateRelationships" />
  </wsdl:message>
  <wsdl:message name="CreateRelationshipsResponse">
    <wsdl:part name="result" element="tns:CreateRelationshipsResponse" />
  </wsdl:message>
  <wsdl:message name="ReadRelationships">
    <wsdl:part name="params" element="tns:ReadRelationships" />
  </wsdl:message>
  <wsdl:message name="DeleteRelationshipsResponse">
    <wsdl:part name="result" element="tns:DeleteRelationshipsResponse" />
  </wsdl:message>
  <wsdl:portType name="RelationshipPortType">
    <wsdl:operation name="CreateRelationships">
      <wsdl:input name="CreateRelationshipsRequest" message="tns:CreateRelationships" />
      <wsdl:output name="CreateRelationshipsResponse" message="tns:CreateRelationshipsResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="ReadRelationships">
      <wsdl:input name="ReadRelationshipsRequest" message="tns:ReadRelationships" />
      <wsdl:output name="ReadRelationshipsResponse" message="tns:ReadRelationshipsResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRelationships">
      <wsdl:input name="UpdateRelationshipsRequest" message="tns:UpdateRelationships" />
      <wsdl:output name="UpdateRelationshipsResponse" message="tns:UpdateRelationshipsResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRelationships">
      <wsdl:input name="DeleteRelationshipsRequest" message="tns:DeleteRelationships" />
      <wsdl:output name="DeleteRelationshipsResponse" message="tns:DeleteRelationshipsResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RelationshipPortBinding" type="tns:RelationshipPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateRelationships">
      <soap:operation soapAction="CreateRelationships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadRelationships">
      <soap:operation soapAction="ReadRelationships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelationships">
      <soap:operation soapAction="UpdateRelationships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteRelationships">
      <soap:operation soapAction="DeleteRelationships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RelationshipService">
    <wsdl:port name="RelationshipPort" binding="tns:RelationshipPortBinding">
      <soap:address location="http://tks.ms:18206/p6ws/services/RelationshipService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>