ProjectTm/Web References/EppmWs.EPSService/EPSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/EPS/V1" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" name="EPSService" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/EPS/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/EPS/V1">
      <xsd:import schemaLocation="http://eppm.tks.local:8206/p6ws/services/EPSService?xsd=IntegrationFault.xsd" namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" />
      <xsd:complexType name="CreateEPS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="EPS" type="tns:EPS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CreateEPSResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ObjectId" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CreateEPS" type="tns:CreateEPS" />
      <xsd:element name="CreateEPSResponse" type="tns:CreateEPSResponse" />
      <xsd:complexType name="ReadEPS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Field" type="tns:EPSFieldType" />
          <xsd:element minOccurs="0" name="Filter" type="xsd:string" />
          <xsd:element minOccurs="0" name="OrderBy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReadEPSResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="EPS" type="tns:EPS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadEPS" type="tns:ReadEPS" />
      <xsd:element name="ReadEPSResponse" type="tns:ReadEPSResponse" />
      <xsd:simpleType name="EPSFieldType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AnticipatedFinishDate" />
          <xsd:enumeration value="AnticipatedStartDate" />
          <xsd:enumeration value="CreateDate" />
          <xsd:enumeration value="CreateUser" />
          <xsd:enumeration value="CurrentBudget" />
          <xsd:enumeration value="CurrentVariance" />
          <xsd:enumeration value="DistributedCurrentBudget" />
          <xsd:enumeration value="FinishDate" />
          <xsd:enumeration value="GUID" />
          <xsd:enumeration value="Id" />
          <xsd:enumeration value="IndependentETCLaborUnits" />
          <xsd:enumeration value="IndependentETCTotalCost" />
          <xsd:enumeration value="LastSummarizedDate" />
          <xsd:enumeration value="LastUpdateDate" />
          <xsd:enumeration value="LastUpdateUser" />
          <xsd:enumeration value="Name" />
          <xsd:enumeration value="OBSName" />
          <xsd:enumeration value="OBSObjectId" />
          <xsd:enumeration value="ObjectId" />
          <xsd:enumeration value="OriginalBudget" />
          <xsd:enumeration value="ParentObjectId" />
          <xsd:enumeration value="PlannedStartDate" />
          <xsd:enumeration value="ProjectObjectId" />
          <xsd:enumeration value="ProposedBudget" />
          <xsd:enumeration value="SequenceNumber" />
          <xsd:enumeration value="StartDate" />
          <xsd:enumeration value="SummaryAccountingVarianceByCost" />
          <xsd:enumeration value="SummaryAccountingVarianceByLaborUnits" />
          <xsd:enumeration value="SummaryActivityCount" />
          <xsd:enumeration value="SummaryActualDuration" />
          <xsd:enumeration value="SummaryActualExpenseCost" />
          <xsd:enumeration value="SummaryActualFinishDate" />
          <xsd:enumeration value="SummaryActualLaborCost" />
          <xsd:enumeration value="SummaryActualLaborUnits" />
          <xsd:enumeration value="SummaryActualMaterialCost" />
          <xsd:enumeration value="SummaryActualNonLaborCost" />
          <xsd:enumeration value="SummaryActualNonLaborUnits" />
          <xsd:enumeration value="SummaryActualStartDate" />
          <xsd:enumeration value="SummaryActualThisPeriodCost" />
          <xsd:enumeration value="SummaryActualThisPeriodLaborCost" />
          <xsd:enumeration value="SummaryActualThisPeriodLaborUnits" />
          <xsd:enumeration value="SummaryActualThisPeriodMaterialCost" />
          <xsd:enumeration value="SummaryActualThisPeriodNonLaborCost" />
          <xsd:enumeration value="SummaryActualThisPeriodNonLaborUnits" />
          <xsd:enumeration value="SummaryActualTotalCost" />
          <xsd:enumeration value="SummaryActualValueByCost" />
          <xsd:enumeration value="SummaryActualValueByLaborUnits" />
          <xsd:enumeration value="SummaryAtCompletionDuration" />
          <xsd:enumeration value="SummaryAtCompletionExpenseCost" />
          <xsd:enumeration value="SummaryAtCompletionLaborCost" />
          <xsd:enumeration value="SummaryAtCompletionLaborUnits" />
          <xsd:enumeration value="SummaryAtCompletionMaterialCost" />
          <xsd:enumeration value="SummaryAtCompletionNonLaborCost" />
          <xsd:enumeration value="SummaryAtCompletionNonLaborUnits" />
          <xsd:enumeration value="SummaryAtCompletionTotalCost" />
          <xsd:enumeration value="SummaryAtCompletionTotalCostVariance" />
          <xsd:enumeration value="SummaryBaselineCompletedActivityCount" />
          <xsd:enumeration value="SummaryBaselineDuration" />
          <xsd:enumeration value="SummaryBaselineExpenseCost" />
          <xsd:enumeration value="SummaryBaselineFinishDate" />
          <xsd:enumeration value="SummaryBaselineInProgressActivityCount" />
          <xsd:enumeration value="SummaryBaselineLaborCost" />
          <xsd:enumeration value="SummaryBaselineLaborUnits" />
          <xsd:enumeration value="SummaryBaselineMaterialCost" />
          <xsd:enumeration value="SummaryBaselineNonLaborCost" />
          <xsd:enumeration value="SummaryBaselineNonLaborUnits" />
          <xsd:enumeration value="SummaryBaselineNotStartedActivityCount" />
          <xsd:enumeration value="SummaryBaselineStartDate" />
          <xsd:enumeration value="SummaryBaselineTotalCost" />
          <xsd:enumeration value="SummaryBudgetAtCompletionByCost" />
          <xsd:enumeration value="SummaryBudgetAtCompletionByLaborUnits" />
          <xsd:enumeration value="SummaryCompletedActivityCount" />
          <xsd:enumeration value="SummaryCostPercentComplete" />
          <xsd:enumeration value="SummaryCostPercentOfPlanned" />
          <xsd:enumeration value="SummaryCostPerformanceIndexByCost" />
          <xsd:enumeration value="SummaryCostPerformanceIndexByLaborUnits" />
          <xsd:enumeration value="SummaryCostVarianceByCost" />
          <xsd:enumeration value="SummaryCostVarianceByLaborUnits" />
          <xsd:enumeration value="SummaryCostVarianceIndex" />
          <xsd:enumeration value="SummaryCostVarianceIndexByCost" />
          <xsd:enumeration value="SummaryCostVarianceIndexByLaborUnits" />
          <xsd:enumeration value="SummaryDurationPercentComplete" />
          <xsd:enumeration value="SummaryDurationPercentOfPlanned" />
          <xsd:enumeration value="SummaryDurationVariance" />
          <xsd:enumeration value="SummaryEarnedValueByCost" />
          <xsd:enumeration value="SummaryEarnedValueByLaborUnits" />
          <xsd:enumeration value="SummaryEstimateAtCompletionByCost" />
          <xsd:enumeration value="SummaryEstimateAtCompletionByLaborUnits" />
          <xsd:enumeration value="SummaryEstimateAtCompletionHighPercentByLaborUnits" />
          <xsd:enumeration value="SummaryEstimateAtCompletionLowPercentByLaborUnits" />
          <xsd:enumeration value="SummaryEstimateToCompleteByCost" />
          <xsd:enumeration value="SummaryEstimateToCompleteByLaborUnits" />
          <xsd:enumeration value="SummaryExpenseCostPercentComplete" />
          <xsd:enumeration value="SummaryExpenseCostVariance" />
          <xsd:enumeration value="SummaryFinishDateVariance" />
          <xsd:enumeration value="SummaryInProgressActivityCount" />
          <xsd:enumeration value="SummaryLaborCostPercentComplete" />
          <xsd:enumeration value="SummaryLaborCostVariance" />
          <xsd:enumeration value="SummaryLaborUnitsPercentComplete" />
          <xsd:enumeration value="SummaryLaborUnitsVariance" />
          <xsd:enumeration value="SummaryMaterialCostPercentComplete" />
          <xsd:enumeration value="SummaryMaterialCostVariance" />
          <xsd:enumeration value="SummaryNonLaborCostPercentComplete" />
          <xsd:enumeration value="SummaryNonLaborCostVariance" />
          <xsd:enumeration value="SummaryNonLaborUnitsPercentComplete" />
          <xsd:enumeration value="SummaryNonLaborUnitsVariance" />
          <xsd:enumeration value="SummaryNotStartedActivityCount" />
          <xsd:enumeration value="SummaryPerformancePercentCompleteByCost" />
          <xsd:enumeration value="SummaryPerformancePercentCompleteByLaborUnits" />
          <xsd:enumeration value="SummaryPlannedCost" />
          <xsd:enumeration value="SummaryPlannedDuration" />
          <xsd:enumeration value="SummaryPlannedExpenseCost" />
          <xsd:enumeration value="SummaryPlannedFinishDate" />
          <xsd:enumeration value="SummaryPlannedLaborCost" />
          <xsd:enumeration value="SummaryPlannedLaborUnits" />
          <xsd:enumeration value="SummaryPlannedMaterialCost" />
          <xsd:enumeration value="SummaryPlannedNonLaborCost" />
          <xsd:enumeration value="SummaryPlannedNonLaborUnits" />
          <xsd:enumeration value="SummaryPlannedStartDate" />
          <xsd:enumeration value="SummaryPlannedValueByCost" />
          <xsd:enumeration value="SummaryPlannedValueByLaborUnits" />
          <xsd:enumeration value="SummaryProgressFinishDate" />
          <xsd:enumeration value="SummaryRemainingDuration" />
          <xsd:enumeration value="SummaryRemainingExpenseCost" />
          <xsd:enumeration value="SummaryRemainingFinishDate" />
          <xsd:enumeration value="SummaryRemainingLaborCost" />
          <xsd:enumeration value="SummaryRemainingLaborUnits" />
          <xsd:enumeration value="SummaryRemainingMaterialCost" />
          <xsd:enumeration value="SummaryRemainingNonLaborCost" />
          <xsd:enumeration value="SummaryRemainingNonLaborUnits" />
          <xsd:enumeration value="SummaryRemainingStartDate" />
          <xsd:enumeration value="SummaryRemainingTotalCost" />
          <xsd:enumeration value="SummarySchedulePercentComplete" />
          <xsd:enumeration value="SummarySchedulePercentCompleteByLaborUnits" />
          <xsd:enumeration value="SummarySchedulePerformanceIndexByCost" />
          <xsd:enumeration value="SummarySchedulePerformanceIndexByLaborUnits" />
          <xsd:enumeration value="SummaryScheduleVarianceByCost" />
          <xsd:enumeration value="SummaryScheduleVarianceByLaborUnits" />
          <xsd:enumeration value="SummaryScheduleVarianceIndex" />
          <xsd:enumeration value="SummaryScheduleVarianceIndexByCost" />
          <xsd:enumeration value="SummaryScheduleVarianceIndexByLaborUnits" />
          <xsd:enumeration value="SummaryStartDateVariance" />
          <xsd:enumeration value="SummaryToCompletePerformanceIndexByCost" />
          <xsd:enumeration value="SummaryTotalCostVariance" />
          <xsd:enumeration value="SummaryTotalFloat" />
          <xsd:enumeration value="SummaryUnitsPercentComplete" />
          <xsd:enumeration value="SummaryVarianceAtCompletionByLaborUnits" />
          <xsd:enumeration value="TotalBenefitPlan" />
          <xsd:enumeration value="TotalBenefitPlanTally" />
          <xsd:enumeration value="TotalFunding" />
          <xsd:enumeration value="TotalSpendingPlan" />
          <xsd:enumeration value="TotalSpendingPlanTally" />
          <xsd:enumeration value="UnallocatedBudget" />
          <xsd:enumeration value="UndistributedCurrentVariance" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="UpdateEPS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="EPS" type="tns:EPS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UpdateEPSResponse">
        <xsd:sequence>
          <xsd:element name="Return" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UpdateEPS" type="tns:UpdateEPS" />
      <xsd:element name="UpdateEPSResponse" type="tns:UpdateEPSResponse" />
      <xsd:complexType name="DeleteEPS">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ObjectId" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeleteEPSResponse">
        <xsd:sequence>
          <xsd:element name="Return" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DeleteEPS" type="tns:DeleteEPS" />
      <xsd:element name="DeleteEPSResponse" type="tns:DeleteEPSResponse" />
      <xsd:complexType name="ReadEPSPath">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="ObjectId" type="xsd:int" />
          <xsd:element maxOccurs="unbounded" name="Field" type="tns:EPSFieldType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReadEPSPathResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="EPS" type="tns:EPS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadEPSPath" type="tns:ReadEPSPath" />
      <xsd:element name="ReadEPSPathResponse" type="tns:ReadEPSPathResponse" />
      <xsd:complexType name="ReadProjectEPSPath">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="ProjectObjectId" type="xsd:int" />
          <xsd:element maxOccurs="unbounded" name="Field" type="tns:EPSFieldType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReadProjectEPSPathResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="EPS" type="tns:EPS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadProjectEPSPath" type="tns:ReadProjectEPSPath" />
      <xsd:element name="ReadProjectEPSPathResponse" type="tns:ReadProjectEPSPathResponse" />
      <xsd:complexType name="EPS">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="AnticipatedFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="AnticipatedStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="CreateDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="CreateUser">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CurrentBudget" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="CurrentVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="DistributedCurrentBudget" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="FinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="GUID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}|" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Id">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IndependentETCLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="IndependentETCTotalCost" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:double">
                <xsd:minInclusive value="0.0" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LastSummarizedDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="LastUpdateDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="LastUpdateUser">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBSName">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBSObjectId" type="xsd:int" />
          <xsd:element minOccurs="0" name="ObjectId" type="xsd:int" />
          <xsd:element minOccurs="0" name="OriginalBudget" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="ParentObjectId" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="PlannedStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="ProjectObjectId" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="ProposedBudget" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SequenceNumber" type="xsd:int" />
          <xsd:element minOccurs="0" name="StartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryAccountingVarianceByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAccountingVarianceByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryActualDuration" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualExpenseCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryActualLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualThisPeriodNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualTotalCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualValueByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryActualValueByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionDuration" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionExpenseCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionTotalCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryAtCompletionTotalCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineCompletedActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryBaselineDuration" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineExpenseCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryBaselineInProgressActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryBaselineLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBaselineNotStartedActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryBaselineStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryBaselineTotalCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBudgetAtCompletionByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryBudgetAtCompletionByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCompletedActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryCostPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostPercentOfPlanned" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostPerformanceIndexByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostPerformanceIndexByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostVarianceByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostVarianceByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostVarianceIndex" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostVarianceIndexByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryCostVarianceIndexByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryDurationPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryDurationPercentOfPlanned" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryDurationVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEarnedValueByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEarnedValueByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateAtCompletionByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateAtCompletionByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateAtCompletionHighPercentByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateAtCompletionLowPercentByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateToCompleteByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryEstimateToCompleteByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryExpenseCostPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryExpenseCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryFinishDateVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryInProgressActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryLaborCostPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryLaborCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryLaborUnitsPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryLaborUnitsVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryMaterialCostPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryMaterialCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryNonLaborCostPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryNonLaborCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryNonLaborUnitsPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryNonLaborUnitsVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryNotStartedActivityCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="SummaryPerformancePercentCompleteByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPerformancePercentCompleteByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedDuration" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedExpenseCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryPlannedLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryPlannedValueByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryPlannedValueByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryProgressFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryRemainingDuration" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingExpenseCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingFinishDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryRemainingLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingMaterialCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingNonLaborCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingNonLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryRemainingStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="SummaryRemainingTotalCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummarySchedulePercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummarySchedulePercentCompleteByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummarySchedulePerformanceIndexByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummarySchedulePerformanceIndexByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryScheduleVarianceByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryScheduleVarianceByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryScheduleVarianceIndex" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryScheduleVarianceIndexByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryScheduleVarianceIndexByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryStartDateVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryToCompletePerformanceIndexByCost" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryTotalCostVariance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryTotalFloat" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryUnitsPercentComplete" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="SummaryVarianceAtCompletionByLaborUnits" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="TotalBenefitPlan" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="TotalBenefitPlanTally" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="TotalFunding" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="TotalSpendingPlan" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="TotalSpendingPlanTally" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="UnallocatedBudget" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="UndistributedCurrentVariance" nillable="true" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ReadEPSPathResponse">
    <wsdl:part name="result" element="tns:ReadEPSPathResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEPSResponse">
    <wsdl:part name="result" element="tns:UpdateEPSResponse" />
  </wsdl:message>
  <wsdl:message name="IntegrationFault">
    <wsdl:part name="fault" element="intgfault:IntegrationFault" />
  </wsdl:message>
  <wsdl:message name="DeleteEPS">
    <wsdl:part name="params" element="tns:DeleteEPS" />
  </wsdl:message>
  <wsdl:message name="ReadEPS">
    <wsdl:part name="params" element="tns:ReadEPS" />
  </wsdl:message>
  <wsdl:message name="CreateEPS">
    <wsdl:part name="params" element="tns:CreateEPS" />
  </wsdl:message>
  <wsdl:message name="ReadEPSPath">
    <wsdl:part name="params" element="tns:ReadEPSPath" />
  </wsdl:message>
  <wsdl:message name="ReadProjectEPSPathResponse">
    <wsdl:part name="result" element="tns:ReadProjectEPSPathResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEPSResponse">
    <wsdl:part name="result" element="tns:DeleteEPSResponse" />
  </wsdl:message>
  <wsdl:message name="ReadProjectEPSPath">
    <wsdl:part name="params" element="tns:ReadProjectEPSPath" />
  </wsdl:message>
  <wsdl:message name="ReadEPSResponse">
    <wsdl:part name="result" element="tns:ReadEPSResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEPS">
    <wsdl:part name="params" element="tns:UpdateEPS" />
  </wsdl:message>
  <wsdl:message name="CreateEPSResponse">
    <wsdl:part name="result" element="tns:CreateEPSResponse" />
  </wsdl:message>
  <wsdl:portType name="EPSPortType">
    <wsdl:operation name="CreateEPS">
      <wsdl:input name="CreateEPSRequest" message="tns:CreateEPS" />
      <wsdl:output name="CreateEPSResponse" message="tns:CreateEPSResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="ReadEPS">
      <wsdl:input name="ReadEPSRequest" message="tns:ReadEPS" />
      <wsdl:output name="ReadEPSResponse" message="tns:ReadEPSResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEPS">
      <wsdl:input name="UpdateEPSRequest" message="tns:UpdateEPS" />
      <wsdl:output name="UpdateEPSResponse" message="tns:UpdateEPSResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEPS">
      <wsdl:input name="DeleteEPSRequest" message="tns:DeleteEPS" />
      <wsdl:output name="DeleteEPSResponse" message="tns:DeleteEPSResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="ReadProjectEPSPath">
      <wsdl:input name="ReadProjectEPSPathRequest" message="tns:ReadProjectEPSPath" />
      <wsdl:output name="ReadProjectEPSPathResponse" message="tns:ReadProjectEPSPathResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
    <wsdl:operation name="ReadEPSPath">
      <wsdl:input name="ReadEPSPathRequest" message="tns:ReadEPSPath" />
      <wsdl:output name="ReadEPSPathResponse" message="tns:ReadEPSPathResponse" />
      <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EPSPortBinding" type="tns:EPSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEPS">
      <soap:operation soapAction="CreateEPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadEPS">
      <soap:operation soapAction="ReadEPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateEPS">
      <soap:operation soapAction="UpdateEPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteEPS">
      <soap:operation soapAction="DeleteEPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadProjectEPSPath">
      <soap:operation soapAction="ReadProjectEPSPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadEPSPath">
      <soap:operation soapAction="ReadEPSPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IntegrationFault">
        <soap:fault use="literal" name="IntegrationFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EPSService">
    <wsdl:port name="EPSPort" binding="tns:EPSPortBinding">
      <soap:address location="http://eppm.tks.local:8206/p6ws/services/EPSService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>